<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzSelected>
    <span nz-icon nzType="mail"></span>
    Portfolio Insights
  </li>
  <li nz-menu-item>
    <span nz-icon nzType="mail"></span>
    Portfolio Outline
  </li>
  <li nz-menu-item>
    <span nz-icon nzType="mail"></span>
    Portfolio Health
  </li>
  <li nz-menu-item>
    <span nz-icon nzType="mail"></span>
    Benchmarking
  </li>
  <li nz-menu-item>
    <span nz-icon nzType="mail"></span>
    Comparision Analysis
  </li>
  <li nz-menu-item>
    <span nz-icon nzType="mail"></span>
    Budget
  </li>
</ul>
