<div class="navContainer">
  <div>
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['']"> Portfolio Insights </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['outline']">
          Portfolio Outline
        </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['']"> Portfolio Health </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['']"> Benchmarking </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['']"> Comparision Analysis </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['']"> Budget </a>
      </nz-tab>
    </nz-tabset>
  </div>
  <div class="avatar-group">
    <nz-badge nzDot>
      <nz-avatar nzIcon="bell" [nzShape]="'circle'"></nz-avatar>
    </nz-badge>
    <nz-avatar nzIcon="message" [nzShape]="'circle'"></nz-avatar>
    <nz-avatar nzIcon="user" [nzShape]="'circle'"></nz-avatar>
  </div>
</div>
