nz-menu {
  display: flex;
  justify-items: flex-start;
}

li {
  font-size: large;
  color: #262626;
  font-weight: 500;
}

li:hover {
  color: #ec7200;
}

.ant-menu-submenu-active {
  color: #ec7200;
}

.navContainer {
  display: flex;
  justify-content: space-between;
}
.navContainer > div {
  padding: 0 30px;
}

nz-tabset {
  display: flex;
}

.avatar-group {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  align-items: center;
  gap: 5px;
}
